@import "./utilities.css";

.round-container {
  width: 100%;
  height: 100%;
  background: #002a4c;
  background: linear-gradient(116.63deg, #002a4c 5.17%, #1a5678 90.77%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav {
  width: 95vw;
  height: 100px;
  margin: 5px auto;
}

nav .lefty img {
  width: 80px;
}
nav .righty {
  margin-top: 1.5rem;
}
nav .righty a {
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.3rem;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

nav .righty a:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #fff;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
nav .righty a:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.round-content {
  width: 100vw;
  height: fit-content;
  text-align: center;
}

.round-content h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.round-content h1 {
  font-size: 7rem;
  color: #edb17b;
  font-weight: 800;
}

.round-content .round-tagline {
  margin: auto;
  width: 550px;
  text-align: center;
}
.round-content p {
  color: #c4c4c4;
}

.round {
  width: 550px;
  margin: 100px auto;
}

.stage {
  padding: 20px 0px;
}

.stage h2 {
  margin: 0;
  color: #edb17b;
  font-size: 3rem;
  font-weight: 550;
}

.round p {
  padding: 0px 5px;
  text-align: justify;
}
.round .btn-start {
  padding: 0.5rem 1.5rem;
  background: #edb17b;
  border-radius: 10px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn-start:hover {
  background: transparent;
  border: 3px solid #edb17b;
  border-radius: 10px;
  color: #edb17b;
}
