.section1 {
  width: 80vw;
  height: 110px;
  background-color: #c4c4c4;
  margin: 200px auto 70px auto;
}
.section2 {
  width: 80vw;
  height: 170px;
  background-color: #c4c4c4;
  margin: 70px auto;
}
